<!doctype html>
<html lang="en" ng-app>
<!-- most of this code is borrowed from Mikhails project with some changes where needed  https://github.com/mikhail-nci/wad-simple-demo-->
<head>
  <title>College Database</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/css/newCss.css">
  <style>
    body {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    
    table,
    th,
    td {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
    }
  </style>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="node_modules/es6-promise/es6-promise.auto.min.js"></script> <!-- for IE support -->
  <script src="node_modules/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" type="text/css" href="node_modules/sweetalert/dist/sweetalert.min.css">
  <script>
    function load() {
      $.ajax({
        url: "/get/html",
        cache: false,
        success: function(html) {
          $("#results").append(html);
        }
      });
    };
   
    $(document).ready(function() {
      load();
    }); 
    //Validation function is coded by the team.
    function validateForm() {
    var x = document.forms["newRecord"]["studentid"].value;
    var y = document.forms["newRecord"]["firstname"].value;
    var z = document.forms["newRecord"]["lastname"].value;
    var w = document.forms["newRecord"]["course"].value;
    var v = document.forms["newRecord"]["address"].value;
    var c = document.forms["newRecord"]["grade"].value;
   
    if (x == "" || isNaN(x) || x.toString().length < 10) {
        alert("Student id empty, not numeric or too short.")
        return false;
    }
    else if ( x.toString().length < 10) {
        alert("Student Id has to be minimal 10 digits long.");
        return false;
    }
    else if (y == "" || !isNaN(y) || z == "" || !isNaN(z)) {
        alert("Name empty or is numeric.");
        return false;
    }
    else if (w == "" || !isNaN(w)) {
        alert("Course cannot be empty or a number.");
        return false;
    }
    else if (v == "" || !isNaN(v)) {
        alert("Address cannot be empty or a number.");
        return false;
    }
    else if (c == "" || !isNaN(c)) {
        alert("Grade cannot be empty or a number.");
        return false;
    }
    
    }
    
  function validateDelForm(){
    var x = document.forms["deleteRecord"]["personid"].value;
    if(x == "" || isNaN(x)){
        alert("Person id empty or not a number");
        return false;
    }
    
  }
     
  </script>
</head>

<body>
  <div class="container">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
      </div>
    </div>
    <div class="page-header">
      <h1 style{font-family: "Times New Roman", Times, serif;}>COLLEGE DATABASE</h1>
    </div>
    <div class="row">
      <div id="results" class="span8">
      </div>
      <div class="span4">
        <ul class="nav nav-list well">
          <li>
            <form name="newRecord" enctype='application/json' onsubmit="return validateForm()" action="/post/json" method="post">
              <div class="field">
                <input type="text" name="studentid" placeholder="Student Id - minimum 10 digits">
              </div>
              <div class="field">
                <input type="text" name="firstname" placeholder="First name">
              </div>
              <div class="field">
                <input type="text" name="lastname" placeholder="Last name">
              </div>
              <div class="field">
                <select type="text" name="course" placeholder="Course">
                 <option value="Arts">Arts</option>
                  <option value="Science">Science</option>
                  <option value="Computing">Computing</option>
                  <option value="Music">Music</option>
                  <option value="Business">Business</option>
                </select>
                </div>
              <div class="field">
                <input type="text" name="address" placeholder="Street address">
              </div>
               <div class="field">
               <select type="text" name="grade" placeholder="Grade">
                 <option value="Distinction">Distinction</option>
                  <option value="Merit">Merit</option>
                  <option value="Pass">Pass</option>
                  <option value="Fail">Fail</option>
                </select>
              </div>
              <div class="field">
                <button class="button" type="submit">Submit</button>
              </div>
            </form>
          </li>
        </ul>
        
    <div class="delForm">
      <ul class="nav nav-list well">
        <li>
         <form name="deleteRecord" enctype='application/json' onsubmit="return validateDelForm()" action="/delete/json" method="post">
            <div class="field">
                <input type="text" name="studentid" placeholder="Student Id">
            </div>
              <div class="field">
                <button class="button" type="submit">Delete</button>
              </div>
          </form>
        </li>
      </ul>
      </div>
        </div>
    </div>
  </div>
</body>

</html>